.kt-pricing-v2 .kt-pricing-v2--line-right {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #f0f0f6;
}

@media (max-width: xxl) {
    .kt-pricing-v2 .kt-pricing-v2--line-right {
        border-right-width: 0;
    }
}

.kt-pricing-v2 .btn-group .btn {
    background-color: #fff;
    color: #7f87aa;
}

.kt-pricing-v2 .btn-group .btn:hover, .kt-pricing-v2 .btn-group .btn.active {
    background-color: #b4aad3;
    color: #fff;
}

.kt-pricing-v2 .kt-pricing-v2__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3rem 3rem 3.5rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(103, 92, 139, 0.05);
    box-shadow: 0px 0px 20px 0px rgba(103, 92, 139, 0.05);
    border-radius: 0.35rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--square {
    border-radius: 0;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--elevated {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--flat {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 1.5rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--white-bg {
    background-color: #fff;
}

@media (max-width: 1024px) {
    .kt-pricing-v2 .kt-pricing-v2__item {
        padding: 2rem 0;
        margin-bottom: 1.25rem;
    }
}

.kt-pricing-v2 .kt-pricing-v2__item .kt-pricing-v2__header .kt-pricing-v2__title {
    margin: 2rem 0;
    font-weight: 600;
}

.kt-pricing-v2 .kt-pricing-v2__item .kt-pricing-v2__header .kt-iconbox {
    background-color: transparent;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.kt-pricing-v2 .kt-pricing-v2__item .kt-pricing-v2__header .kt-iconbox .kt-iconbox__icon {
    margin-bottom: 4.75rem;
    color: #8388a4;
}

.kt-pricing-v2 .kt-pricing-v2__item .kt-pricing-v2__header .kt-iconbox .kt-iconbox__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.kt-pricing-v2 .kt-pricing-v2__item .kt-pricing-v2__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 2rem;
    font-size: 1.1rem;
}

.kt-pricing-v2 .kt-pricing-v2__item .kt-pricing-v2__body .kt-pricing-v2__content {
    font-weight: 500;
    color: #918ea7;
    display: table;
}

.kt-pricing-v2 .kt-pricing-v2__item .kt-pricing-v2__body .kt-pricing-v2__price {
    font-weight: 600;
    font-size: 4rem;
    height: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.kt-pricing-v2 .kt-pricing-v2__item .kt-pricing-v2__body .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #cccce3;
    font-size: 2rem;
    font-weight: 300;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-right: 0.25rem;
}

.kt-pricing-v2 .kt-pricing-v2__item .kt-pricing-v2__body .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #cccce3;
    font-size: 1.5rem;
    font-weight: 300;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-left: 0.25rem;
}

.kt-pricing-v2 .kt-pricing-v2__item .kt-pricing-v2__body .kt-pricing-v2__button {
    margin-bottom: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--brand {
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--brand .kt-pricing-v2__header .kt-iconbox__icon {
    color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--brand .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--brand .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--brand .kt-pricing-v2__button .btn:focus {
    background-color: #037fff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--brand .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #1ea7ac;
    color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--brand .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--brand .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-brand {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #1ea7ac;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-brand .kt-pricing-v2__header .kt-iconbox__icon {
    color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-brand .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-brand .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-brand .kt-pricing-v2__button .btn:focus {
    background-color: #037fff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-brand .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #1ea7ac;
    color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-brand .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-brand .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand {
    background-color: #1ea7ac;
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-iconbox {
    background-color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-iconbox .kt-iconbox__icon .kt-iconbox__icon--bg {
    background-image: url(../../../media/misc/iconbox_bg-white.png);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-iconbox .kt-iconbox__title {
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #a1cfff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #a1cfff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-pricing-v2__button .btn {
    background-color: #ffffff;
    color: #1ea7ac;
    border-width: 1px;
    border-style: solid;
    border-color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-pricing-v2__button .btn:focus {
    background-color: #1ea7ac;
    color: #ffffff;
    border-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #1ea7ac;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-brand .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #1ea7ac;
    color: #1ea7ac;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--metal {
    background-color: #586272;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--metal .kt-pricing-v2__header .kt-iconbox__icon {
    color: #92a3c1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--metal .kt-pricing-v2__button .btn {
    color: #586272;
    background-color: #d3dae6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--metal .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--metal .kt-pricing-v2__button .btn:focus {
    background-color: #b2bfd4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--metal .kt-pricing-v2__button .btn.btn-outline {
    background-color: #586272;
    border-width: 1px;
    border-style: solid;
    border-color: #d3dae6;
    color: #d3dae6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--metal .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--metal .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #586272;
    color: #586272;
    background-color: #d3dae6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-metal {
    background-color: #586272;
    border-width: 1px;
    border-style: solid;
    border-color: #d3dae6;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-metal .kt-pricing-v2__header .kt-iconbox__icon {
    color: #d3dae6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-metal .kt-pricing-v2__button .btn {
    color: #586272;
    background-color: #d3dae6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-metal .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-metal .kt-pricing-v2__button .btn:focus {
    background-color: #b2bfd4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-metal .kt-pricing-v2__button .btn.btn-outline {
    background-color: #586272;
    border-width: 1px;
    border-style: solid;
    border-color: #d3dae6;
    color: #d3dae6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-metal .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-metal .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #586272;
    color: #586272;
    background-color: #d3dae6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal {
    background-color: #d3dae6;
    color: #586272;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-iconbox {
    background-color: #d3dae6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-iconbox .kt-iconbox__icon .kt-iconbox__icon--bg {
    background-image: url(../../../media/misc/iconbox_bg-white.png);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-iconbox .kt-iconbox__title {
    color: #586272;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: white;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: white;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-pricing-v2__button .btn {
    background-color: #586272;
    color: #d3dae6;
    border-width: 1px;
    border-style: solid;
    border-color: #d3dae6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-pricing-v2__button .btn:focus {
    background-color: #d3dae6;
    color: #586272;
    border-color: #586272;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #586272;
    color: #586272;
    background-color: #d3dae6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-metal .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #d3dae6;
    color: #d3dae6;
    background-color: #586272;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--light {
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--light .kt-pricing-v2__header .kt-iconbox__icon {
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--light .kt-pricing-v2__button .btn {
    color: #282a3c;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--light .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--light .kt-pricing-v2__button .btn:focus {
    background-color: #e6e6e6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--light .kt-pricing-v2__button .btn.btn-outline {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--light .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--light .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #fff;
    color: #282a3c;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-light {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-light .kt-pricing-v2__header .kt-iconbox__icon {
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-light .kt-pricing-v2__button .btn {
    color: #282a3c;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-light .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-light .kt-pricing-v2__button .btn:focus {
    background-color: #e6e6e6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-light .kt-pricing-v2__button .btn.btn-outline {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-light .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-light .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #fff;
    color: #282a3c;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light {
    background-color: #ffffff;
    color: #282a3c;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-iconbox {
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-iconbox .kt-iconbox__title {
    color: #282a3c;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #53577c;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #53577c;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-pricing-v2__button .btn {
    background-color: #fff;
    color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-pricing-v2__button .btn:focus {
    background-color: #ffffff;
    color: #282a3c;
    border-color: #282a3c;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #282a3c;
    color: #282a3c;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-light .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #282a3c;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--dark {
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--dark .kt-pricing-v2__header .kt-iconbox__icon {
    color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--dark .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--dark .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--dark .kt-pricing-v2__button .btn:focus {
    background-color: #504a80;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--dark .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #645ca1;
    color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--dark .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--dark .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-dark {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #645ca1;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-dark .kt-pricing-v2__header .kt-iconbox__icon {
    color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-dark .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-dark .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-dark .kt-pricing-v2__button .btn:focus {
    background-color: #504a80;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-dark .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #645ca1;
    color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-dark .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-dark .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark {
    background-color: #645ca1;
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-iconbox {
    background-color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-iconbox .kt-iconbox__icon .kt-iconbox__icon--bg {
    background-image: url(../../../media/misc/iconbox_bg-white.png);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-iconbox .kt-iconbox__title {
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #a5a0c8;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #a5a0c8;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-pricing-v2__button .btn {
    background-color: #ffffff;
    color: #645ca1;
    border-width: 1px;
    border-style: solid;
    border-color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-pricing-v2__button .btn:focus {
    background-color: #645ca1;
    color: #ffffff;
    border-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #645ca1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-dark .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #645ca1;
    color: #645ca1;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--accent {
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--accent .kt-pricing-v2__header .kt-iconbox__icon {
    color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--accent .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--accent .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--accent .kt-pricing-v2__button .btn:focus {
    background-color: #0097a9;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--accent .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #00c5dc;
    color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--accent .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--accent .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-accent {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #00c5dc;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-accent .kt-pricing-v2__header .kt-iconbox__icon {
    color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-accent .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-accent .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-accent .kt-pricing-v2__button .btn:focus {
    background-color: #0097a9;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-accent .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #00c5dc;
    color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-accent .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-accent .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent {
    background-color: #00c5dc;
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-iconbox {
    background-color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-iconbox .kt-iconbox__icon .kt-iconbox__icon--bg {
    background-image: url(../../../media/misc/iconbox_bg-white.png);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-iconbox .kt-iconbox__title {
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #48ecff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #48ecff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-pricing-v2__button .btn {
    background-color: #ffffff;
    color: #00c5dc;
    border-width: 1px;
    border-style: solid;
    border-color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-pricing-v2__button .btn:focus {
    background-color: #00c5dc;
    color: #ffffff;
    border-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #00c5dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-accent .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #00c5dc;
    color: #00c5dc;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--focus {
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--focus .kt-pricing-v2__header .kt-iconbox__icon {
    color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--focus .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--focus .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--focus .kt-pricing-v2__button .btn:focus {
    background-color: #7c0acd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--focus .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #9816f4;
    color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--focus .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--focus .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-focus {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #9816f4;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-focus .kt-pricing-v2__header .kt-iconbox__icon {
    color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-focus .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-focus .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-focus .kt-pricing-v2__button .btn:focus {
    background-color: #7c0acd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-focus .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #9816f4;
    color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-focus .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-focus .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus {
    background-color: #9816f4;
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-iconbox {
    background-color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-iconbox .kt-iconbox__icon .kt-iconbox__icon--bg {
    background-image: url(../../../media/misc/iconbox_bg-white.png);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-iconbox .kt-iconbox__title {
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #c57cf9;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #c57cf9;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-pricing-v2__button .btn {
    background-color: #ffffff;
    color: #9816f4;
    border-width: 1px;
    border-style: solid;
    border-color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-pricing-v2__button .btn:focus {
    background-color: #9816f4;
    color: #ffffff;
    border-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #9816f4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-focus .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #9816f4;
    color: #9816f4;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--primary {
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--primary .kt-pricing-v2__header .kt-iconbox__icon {
    color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--primary .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--primary .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--primary .kt-pricing-v2__button .btn:focus {
    background-color: #2e40d4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--primary .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #5867dd;
    color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--primary .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--primary .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-primary {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #5867dd;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-primary .kt-pricing-v2__header .kt-iconbox__icon {
    color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-primary .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-primary .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-primary .kt-pricing-v2__button .btn:focus {
    background-color: #2e40d4;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-primary .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #5867dd;
    color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-primary .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-primary .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary {
    background-color: #5867dd;
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-iconbox {
    background-color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-iconbox .kt-iconbox__icon .kt-iconbox__icon--bg {
    background-image: url(../../../media/misc/iconbox_bg-white.png);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-iconbox .kt-iconbox__title {
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #b1b8ef;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #b1b8ef;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-pricing-v2__button .btn {
    background-color: #ffffff;
    color: #5867dd;
    border-width: 1px;
    border-style: solid;
    border-color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-pricing-v2__button .btn:focus {
    background-color: #5867dd;
    color: #ffffff;
    border-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #5867dd;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-primary .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #5867dd;
    color: #5867dd;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--success {
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--success .kt-pricing-v2__header .kt-iconbox__icon {
    color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--success .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--success .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--success .kt-pricing-v2__button .btn:focus {
    background-color: #179c8e;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--success .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #1dc9b7;
    color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--success .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--success .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-success {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #1dc9b7;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-success .kt-pricing-v2__header .kt-iconbox__icon {
    color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-success .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-success .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-success .kt-pricing-v2__button .btn:focus {
    background-color: #179c8e;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-success .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #1dc9b7;
    color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-success .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-success .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success {
    background-color: #1dc9b7;
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-iconbox {
    background-color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-iconbox .kt-iconbox__icon .kt-iconbox__icon--bg {
    background-image: url(../../../media/misc/iconbox_bg-white.png);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-iconbox .kt-iconbox__title {
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #68e9dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #68e9dc;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-pricing-v2__button .btn {
    background-color: #ffffff;
    color: #1dc9b7;
    border-width: 1px;
    border-style: solid;
    border-color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-pricing-v2__button .btn:focus {
    background-color: #1dc9b7;
    color: #ffffff;
    border-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #1dc9b7;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-success .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #1dc9b7;
    color: #1dc9b7;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--info {
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--info .kt-pricing-v2__header .kt-iconbox__icon {
    color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--info .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--info .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--info .kt-pricing-v2__button .btn:focus {
    background-color: #2754e6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--info .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #5578eb;
    color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--info .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--info .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-info {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #5578eb;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-info .kt-pricing-v2__header .kt-iconbox__icon {
    color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-info .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-info .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-info .kt-pricing-v2__button .btn:focus {
    background-color: #2754e6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-info .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #5578eb;
    color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-info .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-info .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info {
    background-color: #5578eb;
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-iconbox {
    background-color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-iconbox .kt-iconbox__icon .kt-iconbox__icon--bg {
    background-image: url(../../../media/misc/iconbox_bg-white.png);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-iconbox .kt-iconbox__title {
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #b5c4f6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #b5c4f6;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-pricing-v2__button .btn {
    background-color: #ffffff;
    color: #5578eb;
    border-width: 1px;
    border-style: solid;
    border-color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-pricing-v2__button .btn:focus {
    background-color: #5578eb;
    color: #ffffff;
    border-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #5578eb;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-info .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #5578eb;
    color: #5578eb;
    background-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--warning {
    background-color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--warning .kt-pricing-v2__header .kt-iconbox__icon {
    color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--warning .kt-pricing-v2__button .btn {
    color: #111111;
    background-color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--warning .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--warning .kt-pricing-v2__button .btn:focus {
    background-color: #eea200;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--warning .kt-pricing-v2__button .btn.btn-outline {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ffb822;
    color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--warning .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--warning .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #fff;
    color: #111111;
    background-color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-warning {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ffb822;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-warning .kt-pricing-v2__header .kt-iconbox__icon {
    color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-warning .kt-pricing-v2__button .btn {
    color: #111111;
    background-color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-warning .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-warning .kt-pricing-v2__button .btn:focus {
    background-color: #eea200;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-warning .kt-pricing-v2__button .btn.btn-outline {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ffb822;
    color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-warning .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-warning .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #fff;
    color: #111111;
    background-color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning {
    background-color: #ffb822;
    color: #111111;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-iconbox {
    background-color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-iconbox .kt-iconbox__icon .kt-iconbox__icon--bg {
    background-image: url(../../../media/misc/iconbox_bg-white.png);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-iconbox .kt-iconbox__title {
    color: #111111;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #474747;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #474747;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-pricing-v2__button .btn {
    background-color: #fff;
    color: #ffb822;
    border-width: 1px;
    border-style: solid;
    border-color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-pricing-v2__button .btn:focus {
    background-color: #ffb822;
    color: #111111;
    border-color: #111111;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #111111;
    color: #111111;
    background-color: #ffb822;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-warning .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffb822;
    color: #ffb822;
    background-color: #111111;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--danger {
    background-color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--danger .kt-pricing-v2__header .kt-iconbox__icon {
    color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--danger .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--danger .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--danger .kt-pricing-v2__button .btn:focus {
    background-color: #fc0758;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--danger .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #fd397a;
    color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--danger .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--danger .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-danger {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #fd397a;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-danger .kt-pricing-v2__header .kt-iconbox__icon {
    color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-danger .kt-pricing-v2__button .btn {
    color: #ffffff;
    background-color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-danger .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-danger .kt-pricing-v2__button .btn:focus {
    background-color: #fc0758;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-danger .kt-pricing-v2__button .btn.btn-outline {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #fd397a;
    color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-danger .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--outline-danger .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #ffffff;
    color: #ffffff;
    background-color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger {
    background-color: #fd397a;
    color: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-iconbox {
    background-color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-iconbox .kt-iconbox__icon .kt-iconbox__icon--bg {
    background-image: url(../../../media/misc/iconbox_bg-white.png);
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-iconbox .kt-iconbox__icon,
.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-iconbox .kt-iconbox__title {
    color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-pricing-v2__price .kt-pricing-v2__price-currency {
    color: #fea3c1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-pricing-v2__price .kt-pricing-v2__price-type {
    color: #fea3c1;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-pricing-v2__button .btn {
    background-color: #ffffff;
    color: #fd397a;
    border-width: 1px;
    border-style: solid;
    border-color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-pricing-v2__button .btn:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-pricing-v2__button .btn:focus {
    background-color: #fd397a;
    color: #ffffff;
    border-color: #ffffff;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-pricing-v2__button .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #fd397a;
}

.kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-pricing-v2__button .btn.btn-outline:hover, .kt-pricing-v2 .kt-pricing-v2__item.kt-pricing-v2--fill-danger .kt-pricing-v2__button .btn.btn-outline:focus {
    border-color: #fd397a;
    color: #fd397a;
    background-color: #ffffff;
}
